.delimitador-sessao {
    text-align: center;
}

.delimitador-sessao h2 {
    color: #6278F7;
    font-family: Prata;
    font-size: 2.5rem;
    font-weight: 400;
    border-bottom: 4px solid;
    display: inline-block;
}