body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.sem-colaboradores {
  text-align: center;
  padding: 1rem 0;
  margin: 0 0 1.5rem;
  font-family: Prata;
  line-height: 1.5;
  font-size: 1.25rem;
  background-color: #E8F8FF;
}
